body {
    background-color: black;
    color: aliceblue;
}

h1 {
    
}

#container {
    border: 2px solid white;
    background-color: black;
    max-width: 40%;
    text-align: center;
    float: right;
    margin: 5px;
}

p {
    text-align: justify;
}

