:root {
    --mark: white;
    --bkground: black;
    --bkground2: darkblue;
}

body {
    background-color: var(--bkground);
    color: var(--mark);
}

h2 {
    border-bottom: 2px solid var(--mark);
}

.container {
    border: 2px solid var(--mark);
    background-color: var(--bkground);
    max-width: 40%;
    text-align: center;
    float: right;
    margin: 5px;
}

p {
    text-align: justify;
}


a:visited,
a:link,
a:active {
    text-decoration: none;
    color: var(--mark);
}

#bookmarks {
    border: 1px solid var(--mark);
    background-color: var(--bkground2);
    width: 30%;
}

